.banner {
  margin-right: 2pc;
  margin-left: 2pc;
  display: flex;
  position: relative;
  border-radius: 25px;
  height: 223px;
  justify-content: center;
  opacity: 0.3;
}

.baner img {
  mix-blend-mode: darken;
  opacity: 0.3;
  border-radius: 25px;
}

.headline {
  position: absolute;
  align-self: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 68.45px;
  color: #ffffff;
}
