.banner {
  display: flex;
  position: relative;
  border-radius: 25px;
  height: 220px;
  justify-content: center;
  width: auto;
}

.banner img {
  background-color: #000000;
  mix-blend-mode: darken;
  border-radius: 25px;
  width: auto;
  height: 220px;
  
}

.headline {
  position: absolute;
  align-self: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 68.45px;
  color: #ffffff;
}
