.banner {
  display: flex;
  position: relative;
  border-radius: 25px;
  height: 220px;
  justify-content: center;
  width: 100%;
}

.banner img {
  background-color: #000000;
  mix-blend-mode: darken;
  border-radius: 25px;
  width: 100%;
  height: 220px;
  
}

.headline {
  position: absolute;
  align-self: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 68.45px;
  color: #ffffff;
}


@media screen and (max-width: 800px) {
  .banner,
  .banner img {
    height: 111px;
    width: auto;
    max-width: 100%;
  }

  .banner {
    margin-bottom: 10px;
  }

  .headline {
    font-size: 24px;
  }
}