.dropdown {
  width: 100%;
  height: auto;
}

.dropdown-category{
  margin: 30px 8%;
  border-radius: 5px;

}
.dropdown-title {
  width: 100%;
  padding: 10px;
  background-color: #ff6060;
  color: #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  
}

.dropdown-content {
  width: 100%;
  color: #ff6060;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  margin-top: 0px;

}
