.main-nav {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 0 20px;
}

.main-nav img {
  width: 145px;
}

.main-nav ul {
  display: flex;
  margin-top: 10px;
  list-style-type: none;
}

.tabs {
  color: #ff6060;
  font-weight: 500;
  text-transform: uppercase;
}

.main-nav li:nth-child(2) {
  margin-left: 20px;
}

a:link {
  text-decoration: none;
    color: #FF6060;

}

a:visited {
  text-decoration: none;
  color: #FF6060;
}

/* a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
} */

.tabs a:hover,
.tabs a:active,
.tabs a.active{
  padding-bottom: 1px;
  border-bottom: 2px solid #ff6060;
}

@media screen and (max-width: 800px) {
  .main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    
  }
  .main-nav img {
    width: 145px;
    height: 47px;
  }
  
  .main-nav ul {
    margin-right: 5px;
  }
}